<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE mapper PUBLIC "-//mybatis.org//DTD Mapper 3.0//EN" "http://mybatis.org/dtd/mybatis-3-mapper.dtd">
<!--命名空间应该是对应接口的包名+接口名 -->
<mapper namespace="com.liangyaofeng.dao.OrdersDao">

    <!--查询所有-->
    <select id="selectOrdersAll" resultType="com.liangyaofeng.entity.Orders">
        select * from orders where Uid=#{uid}
    </select>


    <select id="selectOrdersByordersid" resultType="com.liangyaofeng.entity.Orders">
        select * from orders where buyordersid=#{buyordersid}
    </select>





    <!--添加-->
    <insert id="addAllOrders">
        insert into orders(uid,gid,gimg,cname,oprice,oamount,ostate,buyordersid)
        select uid,gid,gimg,sname,sprice,amount,sstate,buyordersid from shops where id in
        <foreach collection="list" open="(" item="id" separator="," close=")">
            #{id}
        </foreach>
    </insert>


    <!--&lt;!&ndash;删除&ndash;&gt;-->
    <!--<delete id="deleteShopsbyid">-->
        <!--delete from shops where id=#{id}-->
    <!--</delete>-->






    <!--修改-->
    <update id="updateOrders">
        update orders
        <set>
            <if test="ostate!=null and ostate!=''">
                ostate =#{ostate},
            </if>
        </set>
        where oid=#{oid}
    </update>



    <!--分页 -->
    <select id="getOrdersPager" resultType="com.liangyaofeng.entity.Orders">
    select oid,uid,gid,gimg,cname,oprice,OAmount,Odate,ostate,buyordersid
    from orders
    <where>
        <if test="uid!=null and uid!= ''">
            and uid like concat(concat('%',#{uid}),'%')
        </if>
        <if test="gid!=null and gid!= ''">
            and gid like concat(concat('%',#{gid}),'%')
        </if>
        <if test="cname!=null and cname!= ''">
            and cname like concat(concat('%',#{cname}),'%')
        </if>
        <if test="ostate!=null and ostate!= ''">
            and ostate like concat(concat('%',#{ostate}),'%')
        </if>
    </where>
    limit #{skip},#{size}
    </select>



    <!--获得总数 -->
    <select id="getOrdersCount" resultType="int">
        select count(*) from orders
        <where>
            <if test="uid!=null and uid!= ''">
                and uid like concat(concat('%',#{uid}),'%')
            </if>
            <if test="gid!=null and gid!= ''">
                and gid like concat(concat('%',#{gid}),'%')
            </if>
            <if test="cname!=null and cname!= ''">
                and cname like concat(concat('%',#{cname}),'%')
            </if>
            <if test="ostate!=null and ostate!= ''">
                and ostate like concat(concat('%',#{ostate}),'%')
            </if>
        </where>
    </select>


</mapper>